<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohanpaspallu.dummy_tms">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="TMS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:noHistory="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_activity"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".Forget" />
        <activity android:name=".Login_activity"></activity>
        <activity android:name=".About_us"></activity>
        <activity android:name=".Contact_us"></activity>
        <activity android:name=".History"></activity>
        <activity android:name=".Transformers"></activity>
        <activity android:name=".Notifiations"></activity>
        <activity android:name=".Complaint"></activity>
    </application>

</manifest>